* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* Navigation Bar */

.nav-container {
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    display: inline;
    margin-right: 30px;
    list-style: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.menu li:hover {
    background-color: rgba(128, 128, 128, 0.268);
}

.menu li a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #27884f;
}

/* banner section  */

#banner {
    /* border: 1px solid rgb(45, 210, 255); */
    background: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 755px;
    padding: 154px 0;
}

.banner-container {
    /* border: 1px solid red; */
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.content-box p {
    background-color: white;
    color: #30B868;
    font-weight: 500;
    max-width: 230px;
    margin: 0 auto;
    border-radius: 35px;
    padding: 8px 9px;
    cursor: pointer;
}

.content {
    max-width: 62%;
    margin: 0 auto;
}

.content h2 {
    font-size: 92px;
    padding: 16px 0;
}

.content .green {
    color: #30B868;
}

.content p {
    font-size: 18px;
    /* border: 1px solid orange; */
    max-width: 69%;
    margin: 0 auto;
    line-height: 30px;
    padding: 10px 0;
}

.transparent {
    border: 1px solid white;
    background-color: #30b86900;
    margin-left: 15px;
}

.transparent:hover {
    background-color: rgba(49, 49, 49, 0.706);
}

/* Notes section  */

.section-container {
    /* border: 1px solid red; */
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
    padding-top: 40px;
}

.section-container h1 {
    font-size: 52px;
    margin: 20px 0;
}

.section-container .gray {
    color: gray;
    margin-bottom: 30px;
}

.note-cards {
    display: flex;
    justify-content: space-evenly;
}

.card {
    /* border: 1px solid orange; */
    max-width: 310px;
    padding: 23px 6px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 10px;
    box-shadow: 0px 0px 8px -6px black;
}

.card img {
    margin-top: 20px;
    background-color: #F95555;
    border-radius: 100%;
    padding: 18px;
}

.card h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 14px 0;
}

.card p {
    color: gray;
}

/* section - 2 */

.section-2 {
    padding-top: 140px;
}

.section-2-container {
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 70%;
    margin: 0 auto;
    gap: 50px;
}

.paragraph-1 {
    font-size: 20px;
    color: #30B868;
    margin-bottom: 23px;
}

.section-2-content h1 {
    font-size: 52px;
    margin-bottom: 18px;
    font-weight: bold;
}

.paragraph-2 {
    color: gray;
    margin: 10px 0;
    max-width: 73%;
}

.list {
    margin-top: 30px;
}

.list li {
    list-style: none;
    margin: 10px 0;
}