* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

/* Navigation Bar */

.nav-container {
    padding: 8px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.menu li {
    display: inline;
    margin-right: 30px;
    list-style: none;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
}

.menu li:hover{
    background-color: rgba(128, 128, 128, 0.268);
}

.menu li a {
    text-decoration: none;
    color: black;
}

.btn {
    background-color: #30B868;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 15px 16px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.btn:hover {
    background-color: #27884f;
}

/* banner section  */

#banner {
    /* border: 1px solid rgb(45, 210, 255); */
    background: url("./assets/hero-bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    height: 755px;
    padding: 154px 0;
}

.banner-container {
    /* border: 1px solid red; */
    max-width: 85%;
    margin: 0 auto;
    text-align: center;
}

.content-box p {
    background-color: white;
    color: #30B868;
    font-weight: 500;
    max-width: 230px;
    margin: 0 auto;
    border-radius: 35px;
    padding: 8px 9px;
    cursor: pointer;
}

.content {
    max-width: 62%;
    margin: 0 auto;
}

.content h2 {
    font-size: 92px;
    padding: 16px 0;
}

.content .green {
    color: #30B868;
}

.content p {
    font-size: 18px;
    /* border: 1px solid orange; */
    max-width: 69%;
    margin: 0 auto;
    line-height: 30px;
    padding: 10px 0;
}

.transparent {
    border: 1px solid white;
    background-color: #30b86900;
    margin-left: 15px;
}

.transparent:hover {
    background-color: rgba(49, 49, 49, 0.706);
}